<%= provide :title, t("user.signin.subtitle") %>
<section id="banner-sign">
  <div class="signup">
    <h1><%= t "user.signin.subtitle" %></h1>
    <div class="signup-form">
      <%= render "signin_form" %>
    </div>
  </div>
</section>
