<p><%= t "signin.forget_pass.title" %></p>
<%= link_to t("user_mailer.reset_pass.edit"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "signin.forget_pass.text1" %></p>
<p><%= t "signin.forget_pass.text2" %></p>
