<section id="banner">
  <div class="banner-text">
    <h1> Friend Coffee <h1>
    <p>Just chill and relax with your style</p>
    <div class="banner-btn">
      <%= link_to t("home.home_index"), friendcoff_path %>
      <%= link_to t("home.study_index"), "#" %>
    </div>
  </div>
</section>
