<header>
  <%= link_to t("base_title"), friendcoff_path, id: "logo" %>
  <div class="nav">
    <a>
      <%= link_to t("home.home_index"), friendcoff_path %>
      <%= link_to t("home.about_index"), about_path %>
      <%= link_to t("header.signup_index"), signup_path %>
    </a>
  </div>
</header>
